<template>
  <div id="app">
    <router-view></router-view>
    <proxy-listener></proxy-listener>
  </div>
</template>

<script>
  import ProxyListener from './ProxyListener'
  export default {
    name: 'seimani-ciro',
    components: { ProxyListener }
  }
</script>

<style>
  /* CSS */
</style>
