<template>
  <div></div>
</template>

<script>
  import { mapActions } from 'vuex'
  export default {
    name: 'ProxyListener',
    created () {
      this.$electron.ipcRenderer.on('api:complete:/battle/init', this.battleinit)
      this.$electron.ipcRenderer.on('api:complete:/battle/result', this.battleresult)
      this.$electron.ipcRenderer.on('api:complete:/battle/finish', this.battlefinish)

      console.log('watch start...')
      this.$store.watch((state, getters) => {
        return getters.NowInBattle
      }, (newVal, oldVal) => {
        console.log(`NowInBattle: ${oldVal} => ${newVal}`)
      })
    },
    methods: {
      battleinit (event, req, res) {
        console.log('battleinit', req, res)
        this.startBattle(req, res)
      },
      battleresult (event, req, res) {
        // console.log('/battle/result', req, res)
      },
      battlefinish (event, req, res) {
        console.log('battlefinish', req, res)
        this.finishBattle(req, res)
      },
      ...mapActions(['startBattle', 'finishBattle'])
    }
  }
</script>

<style scoped>

</style>
