<template>
    <div id="affair-state">
      <h3>町興状態</h3>
      <div>{{ buildingName }} {{ questName }}</div>
      <div>終了時間：{{ endAt }}</div>
      <details>生データ：{{ AffairState }}</details>
    </div>
</template>

<script>
  import { mapGetters } from 'vuex'
  import moment from 'moment'
  export default {
    name: 'AffairState',
    created () {
      moment.locale('ja')
    },
    computed: {
      buildingInfo: {
        get () {
          return (window.df.getJsGameData_AffairBuildingInfo())['AffairBuildingInfo'][this.AffairState.building_id]
        }
      },
      buildingName: {
        get () {
          if (!this.AffairState) return '未初期化'
          return (this.buildingInfo)['displayName']
        }
      },
      questName: {
        get () {
          if (!this.AffairState) return '未初期化'
          return (this.buildingInfo)['quest'][this.AffairState.quest_id]['displayTime']
        }
      },
      endAt: {
        get () {
          if (!this.AffairState) return '未初期化'
          let startTime = this.AffairState.start_time * 1000
          let endTime = startTime + (this.buildingInfo)['quest'][this.AffairState.quest_id]['time'] * 1000
          return moment(endTime).format('llll')
        }
      },
      ...mapGetters(['AffairState'])
    }
  }
</script>

<style scoped>

</style>
