<template>
    <div>
      <div>戦闘状態：{{ NowInBattle }}</div>
      <div>ステージ：{{ StageId | stageName }}</div>
    </div>
</template>

<script>
  import { mapGetters } from 'vuex'
  function getStage (id) {
    return (window.df.getJsGameData_StageInfo()).StageInfo[id]
  }

  function getStageName (id) {
    if (id.length > 0) {
      let stage = getStage(id)
      return `${stage.displaySubName} ${stage.displayName}`
    } else {
      return ''
    }
  }

  export default {
    name: 'BattleInfo',
    computed: {
      ...mapGetters(['NowInBattle', 'StageId'])
    },
    filters: {
      stageName (id) {
        return getStageName(id)
      }
    }
  }
</script>

<style scoped>

</style>
