<template>
    <div>
      <div>
        <h3>ガチャ結果</h3>
        <div>ガチャ：{{ LastGachaSku | gachaName }}({{ LastGachaSku }})</div>
        <ul>
          <li v-for="p in LastGachaResult">{{ p | purchaseInfo }}</li>
        </ul>
      </div>
      <details>生データ：{{ LastGachaResult }}</details>
    </div>
</template>

<script>
  import { mapGetters } from 'vuex'

  function getPlayer (id) {
    return (window.df.getJsGameData_PlayerInfo()).PlayerInfo[id]
  }

  function getPlayerCommon (id) {
    return (window.df.getJsGameData_PlayerCommonInfo()).PlayerCommonInfo[id]
  }

  function getItem (id) {
    return (window.df.getJsGameData_ItemInfo()).ItemInfo[id]
  }

  function getRarityName (rarity) {
    const rarityMap = {
      1: 'N',
      2: 'N+',
      3: 'R',
      4: 'R+',
      5: 'SR',
      6: 'SR+',
      7: 'SSR',
      8: 'EX',
      9: '覚醒SSR',
      10: '覚醒EX',
      11: '?',
      12: '??'
    }
    return rarityMap[rarity]
  }

  function getPlayerName (id) {
    let player = getPlayer(id)
    let pc = getPlayerCommon(player.commonKey)
    let rarityName = getRarityName(player.rarity)
    return `${pc.displayName} ${rarityName}`
  }

  function getItemName (id) {
    let item = getItem(id)
    let rarityName = getRarityName(item.rarity)
    return `${item.displayName} ${rarityName}`
  }

  function getGachaName (skuId) {
    let purchaseInfo = (window.df.getJsGameData_PurchaseInfo()).PurchaseInfo
    console.log('gacha', skuId, purchaseInfo)
    let gachaName = skuId
    Object.values(purchaseInfo).forEach((gacha) => {
      if ((gacha.dmmPointSKU_ID === skuId) || (gacha.gamePointSkuId === skuId)) {
        if (gacha.eventGachaInfo) {
          gachaName = gacha.eventGachaInfo.info.gachaName
        } else {
          let gachaTypes = {
            singleNormal: 'ノーマル単発',
            multiNormal: 'ノーマル10連'
          }
          if (gachaTypes[gacha['type']]) {
            gachaName = gachaTypes[gacha['type']]
          } else {
            gachaName = gacha['type']
          }
        }
      }
    })
    return gachaName
  }

  export default {
    name: 'LastGacha',
    computed: {
      ...mapGetters(['LastGachaResult', 'LastGachaSku'])
    },
    filters: {
      gachaName (skuId) {
        return getGachaName(skuId)
      },
      purchaseInfo (p) {
        console.log('p', p)
        if (p.content_type === 'unit') {
          return getPlayerName(p.content_id)
        } else if (p.content_type === 'item') {
          return getItemName(p.content_id)
        } else {
          return `Unkown content_type:${p.content_type} content_id: ${p.content_id}`
        }
      }
    }
  }
</script>

<style scoped>

</style>
