<template>
  <div></div>
</template>

<script>
  import { mapActions } from 'vuex'
  export default {
    name: 'ProxyListener',
    created () {
      this.$electron.ipcRenderer.on('api:complete:/purchase/gamepurchase', this.purchase)
      this.$electron.ipcRenderer.on('api:complete:/purchase/freepurchase', this.purchase)
      this.$electron.ipcRenderer.on('api:complete:/user/gameinit', this.gameinit)
      this.$electron.ipcRenderer.on('api:complete:/battle/init', this.battleinit)
      this.$electron.ipcRenderer.on('api:complete:/battle/result', this.battleresult)
      this.$electron.ipcRenderer.on('api:complete:/battle/finish', this.battlefinish)
    },
    methods: {
      purchase (event, req, res) {
        this.setLastGachaSku(req.sku_id)
        this.setLastGachaResult(res.purchase_data)
      },
      gameinit (event, req, res) {
        this.setAffairState(res.user_affair_state)
      },
      battleinit (event, req, res) {
        console.log('/battle/init', req, res)
        this.startBattle(req, res)
      },
      battleresult (event, req, res) {
        console.log('/battle/result', req, res)
      },
      battlefinish (event, req, res) {
        console.log('/battle/finish', req, res)
        this.finishBattle(req, res)
      },
      ...mapActions(['setLastGachaSku', 'setLastGachaResult', 'setAffairState', 'startBattle', 'finishBattle'])
    }
  }
</script>

<style scoped>

</style>
