<template>
  <div>
    <div id="menu-wrapper" v-show="!NowInBattle">
      <div id="menubar">
        <div id="grip"></div>
        <div id="menu">
          <div class="buttons has-addons">
            <a class="button is-small" v-on:click="ss"><b-icon pack="fa" icon="camera" size="is-small"></b-icon></a>
            <a class="button is-small" v-on:click="mute">
              <b-icon v-if="muteStatus" pack="fa" icon="volume-off" size="is-small"></b-icon>
              <b-icon v-else pack="fa" icon="volume-up" size="is-small"></b-icon>
            </a>
            <a class="button is-small" v-on:click="reload"><b-icon pack="fa" icon="refresh" size="is-small"></b-icon></a>
            <a class="button is-small" v-on:click="openDevTools"><b-icon pack="fa" icon="wrench" size="is-small"></b-icon></a>
            <a class="button is-small" v-on:click="exit"><b-icon pack="fa" icon="times" size="is-small"></b-icon></a>
          </div>
        </div>
      </div>
    </div>
    <div id="webview-wrapper">
      <webview v-on:reload-wv="reload" v-bind:src="gameUrl" ref="wv">
      </webview>
    </div>
  </div>
</template>

<script>
  import Store from 'electron-store'
  import cheerio from 'cheerio'
  import rp from 'request-promise'
  import moment from 'moment'
  import fs from 'fs-extra'
  import { mapGetters } from 'vuex'

  const store = new Store({
    encryptionKey: 'ダス！',
    fileExtensiont: 'cfg'
  })

  export default {
    name: 'GameWebView',
    computed: {
      ...mapGetters(['NowInBattle'])
    },
    asyncComputed: {
      gameUrl: {
        get () {
          return this.getUrl().then(body => cheerio.load(body)('#game_frame').attr('src'))
        },
        default: ''
      }
    },
    data () {
      return {
        w: this.$electron.remote.getCurrentWindow(),
        muteStatus: false
      }
    },
    methods: {
      ss () {
        let dirName = `${this.$electron.remote.app.getPath('userData')}/capture/screenshot`
        let fileName = `${dirName}/ss-${moment().format('YYYYMMDD-HHmmss-SSS')}.png`
        fs.mkdirsSync(dirName)
        this.$refs.wv.capturePage((image) => {
          fs.writeFile(fileName, image.toPNG(), (err) => {
            if (err) {
              console.error(err)
              throw err
            }
          })
        })
      },
      reload () {
        this.$refs.wv.reload()
      },
      openDevTools () {
        this.$refs.wv.openDevTools()
      },
      mute () {
        var newMute = !this.muteStatus
        this.$refs.wv.setAudioMuted(newMute)
        this.muteStatus = newMute
      },
      exit () {
        console.log('EXIT called')
        this.w.close()
        this.w.destroy()
      },
      async getUrl () {
        const loginid = store.get('login')
        const password = store.get('password')
        const jar = rp.jar()

        if (!loginid || !password) {
          console.error('no login info')
        } else {
          const proxyString = ''

          var url1 = 'https://accounts.dmm.com/service/login/password/=/path=DRVESVwZTkJbSEFUUk9IUAAIU0UeXQlUTAFYCx0VW1EcTkNcD10EXA__'
          const loginPage = await this.$http.get(url1, {jar: jar})
          let $login = cheerio.load(loginPage)
          const getTokenUrl = 'https://accounts.dmm.com/service/api/get-token'
          const token = $login('meta[name="csrf-token"]').attr('content')
          const dmmToken = $login('meta[name="csrf-http-dmm-token"]').attr('content')

          const tokenData = await this.$http(getTokenUrl, {
            jar: jar,
            method: 'POST',
            gzip: true,
            headers: {
              'Accept': 'application/json, text/plain, */*',
              'Accept-Encoding': 'gzip, deflate, br',
              'x-requested-with': 'XMLHttpRequest',
              'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:61.0) Gecko/20100101 Firefox/61.0',
              'Accept-Language': 'ja,en-US;q=0.7,en;q=0.3',
              'Content-Type': 'application/json;charset=utf-8',
              'http-dmm-token': dmmToken,
              'Referer': url1
            },
            body: {token: token},
            json: true
          })
          const authUrl = 'https://accounts.dmm.com/service/login/password/authenticate'

          await this.$http.post(authUrl, {
            jar: jar,
            followAllRedirects: true,
            proxy: proxyString,
            mode: 'no-cors',
            headers: {
              Referer: url1
            },
            form: {
              token: tokenData.body.token,
              login_id: loginid,
              password: password,
              idKey: loginid,
              pwKey: password,
              path: 'DRVESVwZTlVZCFRLHVILWk8GWVsf'
            }
          })
          const seikenUrl = 'http://pc-play.games.dmm.com/play/seiken/'
          return this.$http.get(seikenUrl, {
            jar: jar,
            proxy: proxyString,
            followRedirect: true,
            followAllRedirects: true,
            headers: {
              Referer: authUrl
            }
          })
        }
      }
    }
  }
</script>

<style scoped lang="scss">
  webview {
    height: 640px;
  }
  #menubar {
    z-index: 10;
    position: absolute;
    width: 200px;
    height: 50px;
    left: 0;
    top: 0;
    background-color: transparent;
  }
  #grip {
    position: absolute;
    -webkit-app-region: drag;
    width: 50px;
    height: 50px;
    background-color: rgba(127, 127, 127, 0.5);
  }
  #menu {
    display: table;
    position: absolute;
    left: 50px;
    visibility: hidden;
    height: 50px;
    padding: 0px 0px;
  }
  #menu div {
    display: table-cell;
    vertical-align: middle;
  }
  #menubar:hover > #menu {
    visibility: visible;
    background-color: rgba(255, 255, 128, 0.5);
  }
  #webview_wrapper {
    position: absolute;
    width: 1136px;
    height: 640px;
  }
  *::-webkit-scrollbar{
    display: none;
  }

  @import "../../../../../node_modules/bulma/sass/utilities/all";
  @import "../../../../../node_modules/bulma";
  @import "../../../../../node_modules/buefy/src/scss/buefy";
  $fa-font-path: "~font-awesome/fonts";
  @import "../../../../../node_modules/font-awesome/scss/font-awesome";
</style>
