<template>
  <div id="window-content">
    <game-web-view></game-web-view>
    <div ref="for_script"></div>
  </div>
</template>

<script>
  import GameWebView from './GamePage/GameWebView'
  import Buefy from 'buefy'

  export default {
    name: 'GamePage',
    components: {
      Buefy,
      GameWebView
    }
  }
</script>
<style scoped lang="scss">
  #window-content {
    position: relative;
  }
</style>
