<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>政マニ専ブラ ナイカク情報調査室(仮)</title>
    <% if (htmlWebpackPlugin.options.nodeModules) { %>
      <!-- Add `node_modules/` to global paths so `require` works properly in development -->
      <script>
        require('module').globalPaths.push('<%= htmlWebpackPlugin.options.nodeModules.replace(/\\/g, '\\\\') %>')
      </script>
    <% } %>
  </head>
  <body>
    <div id="app"></div>
    <!-- Set `__static` path to static files in production -->
    <script>
      if (process.env.NODE_ENV !== 'development') window.__static = require('path').join(__dirname, '/static').replace(/\\/g, '\\\\')
      var mainFileName = 'http://d3vhzwqidpn2dk.cloudfront.net/seimani/game.min.js'
      document.write('<script src="http://d3vhzwqidpn2dk.cloudfront.net/seimani/res/version.js?' + new Date().getTime() + '"><\/script>')

    </script>

    <!-- webpack builds are automatically injected -->
  </body>
</html>
